body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    padding: 20px;
}

button, a.button {
    width: 90%;
    max-width: 300px;
    padding: 15px;
    margin: 10px auto;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a.button {
    background-color: #007B00;
    margin-top: 10px;
}

button {
    background-color: #007BFF;
}

button:active {
    background-color: #0056b3;
}

button.off {
    background-color: #FF0000;
}

button.off:active {
    background-color: #cc0000;
}