<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LED ASYNC Controller</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script type="text/javascript" src="static/index.js"></script>
</head>

<body>
    <div class="container">
        <h1>LED Controller</h1>
        <button onclick="triggerEndpoint('/start', { effect: 'wheel' })">Color Wheel Effect</button>
        <button onclick="triggerEndpoint('/start', { effect: 'warm_wheel' })">Warm Wheel Effect</button>
        <button onclick="triggerEndpoint('/start', { effect: 'lime_green' })">Lime Green</button>
        <button onclick="triggerEndpoint('/start', { effect: 'race' })">Start Race</button>
        <button class="off" onclick="triggerEndpoint('/start', { effect: 'off' })">Turn Off</button>
        <h2>Text Effect</h2>
        <input id="textInput" type="text" placeholder="Enter text for LED effect" />
        <button onclick="sendTextEffect()">Send Text Effect</button>
        <button onclick="triggerEndpoint('/start', { effect: 'flash' })">Flash</button>
        <button onclick="triggerEndpoint('/start', { effect: 'leapfrog' })">Leap Frog</button>
        <button onclick="triggerEndpoint('/start', { effect: 'bounce' })">Bounce</button>
        <button onclick="triggerEndpoint('/start', { effect: 'rollout' })">Rollout</button>
        
        <button onclick="window.location.href='/poker-voice-controller'">Poker Bot</button>
        <button onclick="window.location.href='/settings'">Settings</button>
    </div>
        
</body>

</html>
