<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LED Controller</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="script" href="/static/index.js">
</head>

<body>
    <div class="container">
        <h1>Clock Controller</h1>
        <button onclick="triggerEndpoint('/start', {effect: 'clock'})">Clock</button>
        <button onclick="triggerEndpoint('/start', {effect: 'clock2'})">Clock 2</button>
        <button onclick="triggerEndpoint('/start', {effect: 'clock3'})">Clock 3</button>
        <button onclick="triggerEndpoint('/start', {effect: 'clock4'})">Clock 4</button>
        <button onclick="triggerEndpoint('/start', {effect: 'clock5'})">Clock 5</button>
        <button onclick="triggerEndpoint('/start', {effect: 'clock6'})">Clock 6</button>
    </div>
</body>

</html>